.ghx-priority{
width: 16px;
height: 16px;
}
.ghx-priority img{
	visibility: hidden;
}
.ghx-priority[title=Low]{
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/pr-low.png') !important;
}
.ghx-priority[title=Medium]{
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/pr-med.png') !important;
}
.ghx-priority[title=High]{
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/pr-high.png') !important;
}
.ghx-priority[title=Gating]{
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/pr-crit.png') !important;
}
.ghx-priority[title="Immediate Gating"]{
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/pr-imd.png') !important;
}
.ghx-priority[title="Not Set"]{
	background-image:url('chrome-extension://__MSG_@@extension_id__/img/pr-notset.png') !important;
}

/*td.priority img{
  width: 16px !important; 
  height: 16px !important; 
  padding: 16px !important; 
  background:url('chrome-extension://__MSG_@@extension_id__/img/pr-notset.png') !important; 
}
*/
li.aui-list-item-li-not-set a.aui-iconised-link img{
	content:url('chrome-extension://__MSG_@@extension_id__/img/pr-notset.png') !important; 
}
td.priority img[alt="Low"], span#priority-val img[title^="Low"] 
,li.aui-list-item-li-low a.aui-iconised-link img{
	/*background:url('chrome-extension://__MSG_@@extension_id__/img/pr-low.png') no-repeat !important;*/
	content:url('chrome-extension://__MSG_@@extension_id__/img/pr-low.png') !important;
}
td.priority img[alt="Medium"], span#priority-val img[title^="Medium"]
,li.aui-list-item-li-medium a.aui-iconised-link img{
	content:url('chrome-extension://__MSG_@@extension_id__/img/pr-med.png') !important;
}
td.priority img[alt="High"], span#priority-val img[title^="High"] 
,li.aui-list-item-li-high a.aui-iconised-link img{
	content:url('chrome-extension://__MSG_@@extension_id__/img/pr-high.png') !important;
}
td.priority img[alt="Gating"], span#priority-val img[title^="Gating"] 
,li.aui-list-item-li-gating a.aui-iconised-link img{
	content:url('chrome-extension://__MSG_@@extension_id__/img/pr-crit.png') !important;
}
td.priority img[alt="Immediate Gating"], span#priority-val img[title^="Immediate"] 
,li.aui-list-item-li-immediate-gating a.aui-iconised-link img{
	content:url('chrome-extension://__MSG_@@extension_id__/img/pr-imd.png') !important;
}